.menu{
    background: var(--white);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: auto;
}
.menu ul li{
    margin: 8px 16px;
    height: auto;
    padding: 28px 0;
    border-bottom: 3px solid transparent;
    border-image-slice: 1;
    border-width: 5px;
}
.menu ul li:hover {
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: var( --grayish-blue);
     
}
.menu ul li:hover {
    cursor: pointer;
    border-image-source: linear-gradient(to left, var(--bright-cyan), var(--lime-green));
}
#menu-button{
    display: none;
}
@media (max-width:1125px){
    .menu{
        padding: 0 16px;
    }
    .menu ul{
        display: none;
    }
    .menu .right{
        display: none;
    }
    #menu-button{
        display: block;
    }
}
